#principal
{width: 900px;
height: 1000px;
margin: auto;
background-color:#190707;
height: 30px;
border-radius:0px 0px 20px 20px;
box-shadow:0px 0px 10px #FFFFFF inset;
}

header
{width:900px;
	height:100px;
	
}
#logo
{
	width:900px;
	height:100px;
	background: ;

}
body
{margin:2;}
	

ul
{list-style-type:none;
margin:0;
padding: 0;
text-align:center;

}
#menu>li
{display: inline-block;
padding: 0px;
margin: 0px 10px 0px 10px;}

.panel
{

	background-color:rgb(7%, 42% 38%);
color:#FF0000;
width: 123px;
height:100px;
border-radius:50px 50px 50px 50px;
box-shadow: 15px 0px 30px #FF0040	 inset, 15px 0px 50px #A4A4A4;
padding-top:60px;
position: relative;
transition: all ease 2s;
transform-style:preserve-3d;
top:-85px;}


.panel:hover
{
	transform:rotateY(180deg);
	animation:animacion ease 2s forwards
}
.front
{
	backface-visibility: hidden;
}
.front>img
{
	margin-bottom:10px;
}
.back
{
	position: absolute;
	top:5px;
	transform:rotateY(180deg) translateZ(100PX);
	backface-visibility: hidden;
}
.back>ul>li
{
	background-color;
	border-radius:0px 30px 0px 30px;
	box-shadow: 0px 0px 10px  #FFFFFF  inset, 0px 0px 30px ;
	width:125px;
	margin-top: 20PX;
	transition: all ease 0.2s;
}
.back>ul>li:hover
{transform: scale(1.2);	
	cursor: pointer;
	box-shadow: 0px 0px 0px hsl(171,53%,42%), 0px 20px 10px #000,0px 0px 20px #FFFFFF inset;
	border-radius: 100px;


}
.back>ul>li:active
{transform: scale(1.2) translateY(3px);
	box-shadow: 0px 0px 30px hsl(171,53%,42%), 0px 5px 5px #000, 0px 0px 3px #FFFFFF inset;
	border-radius: 30px;
}


.

